# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# IDE
.vscode/

# Data
data/raw/
data/bronze/
data/silver/
data/gold/
data/quarantine/

# Logs
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db